<h1>修改用户资料</h1>
<div class="user_edit11">
    <!--<div class="user_edit_menu">
	<div class="edit_profile">修改用户资料</div>
	<div class="edit_pwd">修改密码</div>
	<div class="edit_address">收货地址管理</div>
    </div>-->
    <div id="user_edit_div" class="user_edit_div">
	<%= render 'edit_form' %>
    </div>
</div>
<%= link_to '显示用户当前信息', @user %>
